
body { 
background-color: #99ccff;
background-repeat: no-repeat;
color: #336600;
font-family: georgia, serif;
background: linear-gradient(-20deg, #33cc00, #99ccff);

margin-left: 0;
margin-top: 0;
}

title {
font-family:  jokerman, 'Griffy' ;
}

header {
background: linear-gradient(  #339900, #336600);
position: fixed;
width: 100%;
padding: 5px;
text-align: center;
display: block;
}

main {
width: 80%;
margin-left: auto;
margin-right: auto;
text-align: center;
padding: 35px;
padding-top: 100px;

}

h1 {
color: #cc3333;
text-transform: uppercase;
font-family: jokerman, 'Flavors', 'Griffy', cursive;
font-weight: bold;
margin-top: 20px;
}

h2 {

color: #006633;
font-family: "lucida Handwriting", cursive;
margin-top: 35px;
margin-bottom: 25px;
text-shadow: 2px 1px 1px #666;
}

h3 {
color: #999999;
margin-top: 16px
}

h4 {
background-color: #ff9900;
opacity: 0.4;
padding: 10px;
border-radius: 15px;
margin-top: 12px;
}

p {
margin: 24px;
}

ul {
list-style-type: circle;
color: #999999;
margin-top: 12px;
}
li {
margin-top: 20px;
}

#div {
background-image: url(images/woodstr.JPG);
background-repeat: no-repeat;
background-position: right;
background-clip: padding-box;
background-size: cover;
display: block;
margin-bottom: 15px;
}

footer {
font-style: italic;
font-size: .8em;
color: #000000;
text-align: center;
}

.bold {
font-weight: bold;
}

.hyperlinks {
font-size: large;
font-weight: bold;
color: #3399cc;
}

.style {
color: #ff3333;
}

figcaption {
font-size: .7em;
font-style: italic;
}

a {
text-decoration: none;
}

#litter {
background-image: url(images/nolitter.png);
background-repeat: no-repeat;
background-position: right;
background-size: contain;
text-align: left;
padding-right: 150px;
}

#bodybox {
background: linear-gradient(-45deg, #cc9966, #ccff66);
box-shadow: 4px 4px 4px #828282;
padding: 0px 20px 10px;
margin: 30px;
margin-top: 0;

}
#float {
float: right;
margin: 0 0 5px 5px;

}
.clearright {
overflow: auto;
}

ul a:hover {
color: #cc0099;
}

